.zero-count{
    background-color: #ededed;
}

.one-bigger-count{
    background-color: #ACD5F2;
}

.ten-bigger-count{
    background-color: #7FA8C9;
}

.twenty-bigger-count {
    background-color: #527BA0;
}

.thirty-bigger-count{
    background-color: #254E77;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: -520%;
    left: -320%;
}
  
.tooltip:hover .tooltiptext {
    display: block;
}

.tooltip-contribution{
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tooltip-date{
    color: #7C7C7C;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}